.howto-card {
  margin: 10px;
  padding: 10px !important;
  /*min-width: 375px;*/
  max-width: 500px;
  display: inline-block;
  vertical-align: top;
}
.card-input {
  width: 125px !important;
  margin-left: 15px;
}
.card-actions {
  width: 100%;
  text-align: center;
}
.card-actions button {  margin: 5px 15px;}
