<mat-card class="howto-card">
  <mat-card-header>
    <mat-card-title><h2>Introduction</h2></mat-card-title>
    <mat-card-subtitle>How to use rent check?</mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    <h4>Background:</h4>
    <p><i>rentcheck</i> lets you evaluate real estate properties as rentals by entering in 4 key values.</p>
    <ul>
      <li>Price: price of the property</li>
      <li>Rent: rent you think you can get for the property</li>
      <li>HOA: home owners association fees due on a monthly basis</li>
      <li>MelloRoos: Mello Roos, a CA parcel tax, due on a monthly basis</li>
    </ul>
    <h4>Instructions:</h4>
    <div class="card-actions">
      <button mat-raised-button color="accent" (click)="onDrop()">Remove</button>
    </div>
  </mat-card-content>
</mat-card>
