<mat-card class="about-card">
    <mat-card-header>
      <mat-card-title><h2>rentcheck</h2></mat-card-title>
      <mat-card-subtitle><h4>by James Shull (not a ninja)</h4></mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <img class="about-img" src="assets/me.jpg"  alt="about me picture">
      <p>
        I built this site to encourage and help casual investors interested in rental properties. 
        My hope is that it helps people to save money, invest in property and manage it to produce a stable, passive income stream.
      </p>
      <p>
        I initially started my rental search by calculating yeild and performance, which I initially enjoyed because I'm a nerdy engineer.
        However, that grew old quickly, so I made an excel sheet to do calculations easier.
        This web tool was a natural evolution to that spreadsheet so I could get performance information with just my phone.
      </p>
      <p>
        I live in north San Diego with my beautiful wife and daughter. 
        My day job is working in the Systems Engineering group at Denso Wireless which will close at the end of 2018. 
        I've been contributing to the product (electronic) automated testing for mass production of infotainment products and the supporting software systems.
        I went to UCSD (BS in Electrical Engineering / BA in Economics) and to UCLA for grad school (MS EE).
      </p>
      <!--<button mat-raised-button (click)="onClose();" color="primary">Close</button>-->
    </mat-card-content>
  </mat-card>
