<mat-card class="about-card">
    <mat-card-header>
      <mat-card-title><h2>rent check</h2></mat-card-title>
      <mat-card-subtitle><h4>by James Shull (not actually a ninja)</h4></mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <img src="assets/me.jpg" width="320px;" alt="about me picture">
      <p>
        I built this site to encourage and help casual investors interested in rental properties. 
        My hope is that it helps people to save money, invest in property and manage it to produce a stable, passive income stream.
      </p>
      <p>
        I initially started my rental search by calculating yeild and performance, which I initially enjoyed because I'm a nerdy engineer.
        However, that grew old quickly, so I started made an excel sheet to compare properties.
        This web tool was a natural evolution to that spreadsheet so I could access it with my phone.
      </p>
      <button mat-raised-button (click)="onClose();" color="primary">Close</button>
    </mat-card-content>
  </mat-card>
