<mat-card class="about-card">
    <mat-card-header>
      <mat-card-title><h2>rentcheck.<svg role="img" class="icon" title="ninja icon"><use xlink:href="assets/sprites.svg#ninja"></use></svg></h2></mat-card-title>
      <mat-card-subtitle><h4>by James Shull <i>(not a ninja)</i></h4></mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <img class="about-img" src="assets/me.jpg"  alt="about me picture">
      <p>
        I built this site to encourage and help casual investors interested in rental properties. 
        My hope is to encourage regular workers save money, invest in property and manage it for a passive income stream.
      </p>
      <p>
        I initially started my rental search by continuously calculating yield and performance on perspective condos, which I initially enjoyed because I'm a nerdy engineer.
        However, that grew old quickly, so I made an excel sheet to do calculations easier. That too grew old as I was trying to edit spreadsheets on my iPhone.
        This web tool was a natural evolution of that spreadsheet to a web application.
      </p>
      <p>
        I live in north San Diego with my beautiful wife and daughter. 
        My day job is working in the Systems Engineering group at Denso Wireless through 2018. I'll be looking for new opportunities April, 2019. 
        There, my contribution has been to the automated electronics testing for mass production of infotainment products and their supporting software systems.
        Eons ago, I went to UCSD for undergrad (BS in Electrical Engineering / BA in Economics). That was followed up with UCLA for graduate school (MS Communications and Signal Processing).
      </p>
    </mat-card-content>
  </mat-card>
