.guide-body {
  margin: 0px 10px; 
}
.guide-body h4 {
  margin-bottom: 5px;
}
.guide-body ul {
  padding-left: 15px;
  list-style: none;
}
.guide-body li {
  padding-bottom: 3px;
}
.icon {
  background-color: transparent;
  width: 14px;
  height: 14px;
}
.guide-body ul>li::before {
  background-image: url('/assets/ninja_star.svg');
  background-size: 16px 16px; 
  display: inline-block;
  width: 16px; 
  height: 16px;
  content:'';
  font-weight: 700;
  margin-left: .5em; 
  margin-right: .5em;
}
/*.guide-body ol {}*/
.def {
  background-color: rgb(255, 247, 177);
}
.divider {
  border-bottom: 1px solid black;
}
