.contact-card {
  margin: 10px;
  padding: 10px !important;
  /*min-width: 375px;*/
  width: 375px;
  display: inline-block;
  vertical-align: top;
}
.credit-list{
  padding-left: 10px;
}
.credit-list li {
  line-height: 36px;
}
.credit-list li img {
  vertical-align: middle;
}
.input-text { width: 80%;}
.input-body { width: 90%;}
.send-button { width: 100%; text-align: center;}