<mat-card class="contact-card">
    <mat-card-header>
      <mat-card-title><h2>Contact Us</h2></mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <p>Please send me any questions, comments or feedback.</p>
      <p>email: <a href="mailto:james.shull@gmail.com?Subject=rentcheck">james.shull@gmail.com</a></p>
      <h5>Contemplating a purchase in Southern California?</h5>
        <p><a href="mailto:james.shull@gmail.com?Subject=broker">Email</a> me to get in touch with an agent / broker.</p>
    </mat-card-content>
  </mat-card>
