<mat-card class="contact-card">
  <mat-card-header>
    <mat-card-title><h2>Contact Us</h2></mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <p>Please send me any questions, comments or feedback.</p>
    <p><a href="mailto:james.shull@gmail.com?Subject=rentcheck">james.shull@gmail.com</a></p>
  </mat-card-content>
</mat-card>
<mat-card class="contact-card">
  <mat-card-header>
    <mat-card-title><h2>Investing</h2></mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <p>If you're contemplating a purchase in Southern California, please let me know if you need a broker for the transaction.</p>
    <p><a href="mailto:james.shull@gmail.com?Subject=rentcheck-broker">Broker Referral</a></p>
  </mat-card-content>
</mat-card>
