<!--<mat-card class="contact-card">
  <mat-card-header>
    <mat-card-title><h2>Contact Us</h2></mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <p>Please send us any questions, comments or feedback.</p>
    <p><a href="mailto:james.shull@gmail.com?Subject=rentcheck">james.shull@gmail.com</a></p>
  </mat-card-content>
</mat-card>
-->
<mat-card class="contact-card">
  <mat-card-header>
    <mat-card-title><h2>Contact Us</h2></mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <p>Please send us any questions, comments or feedback.</p>
    <form>
      <p><mat-form-field class="input-text">
          <input matInput placeholder="First and/or Last Name" name="emailName" [(ngModel)]="emailName">
        </mat-form-field>
      </p>
      <p><mat-form-field class="input-text">
          <input matInput placeholder="Email Address" name="emailFrom" [(ngModel)]="emailFrom">
        </mat-form-field>
      </p>
      <p><mat-form-field class="input-body">
          <textarea matInput placeholder="Question or Comment" name="emailContent" [(ngModel)]="emailContent" rows="3"></textarea>
        </mat-form-field>
      </p>
      <p class="send-button"><button mat-raised-button color="primary" (click)="onSend()">Send</button></p>
    </form>
  </mat-card-content>
</mat-card>
<mat-card class="contact-card">
  <mat-card-header>
    <mat-card-title><h2>Investing</h2></mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <img src="assets/investment-sheet.jpg" alt="investment image" height="240px;">
    <p>If you're contemplating a purchase in Southern California, please fill out the contact us form if you need a broker for the transaction.</p>
  </mat-card-content>
</mat-card>
<mat-card class="contact-card">
  <mat-card-header>
    <mat-card-title><h2>Web Development</h2></mat-card-title>
    <mat-card-subtitle>Credits</mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    <ul class="credit-list">
      <li>
        <a href="https://angular.io/"><!--<img src="assets/angular.svg" alt="angular icon" height="36px;"></a>-->
        <svg role="img" class="icon" title="angular icon"><use xlink:href="assets/web_sprite.svg#angular"></use></svg></a>
        <span>ngular is used for the front-end framework along with 
          <a href="https://material.angular.io/">Angular Material</a> 
          UI components.
        </span>
      </li>
      <li>Static site hosting is provided by <a href="https://aws.amazon.com/">
        <svg role="img" class="icon" title="aws s3 icon"><use xlink:href="assets/web_sprite.svg#aws_s3"></use></svg></a>
           AWS S3 (Amazon Web Services - Simple Storage Service).
      </li>
      <li>AWS is also providing 'Serverless' back end support via 
        <a href="https://aws.amazon.com/"><svg role="img" class="icon" title="aws api icon"><use xlink:href="assets/web_sprite.svg#aws_api"></use></svg></a>
         + 
         <a href="https://aws.amazon.com/"><svg role="img" class="icon" title="aws lambda icon"><use xlink:href="assets/web_sprite.svg#aws_lambda"></use></svg></a>
        
         (AWS API Gateway and AWS Lambda)
      </li>
      <li>Development is done on <a href="https://code.visualstudio.com/">
        <svg role="img" class="small-icon" title="VS Code icon"><use xlink:href="assets/web_sprite.svg#vscode_icon"></use></svg>
      </a> Visual Studio Code.
      </li>
      <li><a href="https://nodejs.org/"><img src="assets/node-icon.svg" alt="nodejs icon" class="small-icon-img"></a>
        Node.js is used for package management.
      </li>
      <li>Version control is provided by 
        <a href="https://github.com/"><svg role="img" class="small-icon" title="GitHub icon"><use xlink:href="assets/web_sprite.svg#github"></use></svg></a> GitHub.
      </li>
    </ul>
  </mat-card-content>
</mat-card>

