
<h2 mat-dialog-title>Update Default Assumptions</h2>
<div mat-dialog-content>
  <p>
    <mat-form-field class="card-input">
      <input matInput placeholder="Default Income Tax Rate" name="salaryTaxRate" 
            [ngModel]="data.defaults.salaryTaxRate*100 | number:'1.0-0'" (blur)="data.defaults.salaryTaxRate=$event.target.value/100;">
    </mat-form-field>%
    <span class="assumption-default">&nbsp;{{0.22 | percent}}</span>
  </p>
  <p>
    <mat-form-field class="card-input">
      <input matInput placeholder="Default Interest Rate" name="interestRate" 
            [ngModel]="data.defaults.interestRate*100 | number:'1.1-4'" (blur)="data.defaults.interestRate=$event.target.value/100;">
    </mat-form-field>%
    <span class="assumption-default">&nbsp;{{.04625 | percent:'1.1-4'}}</span>
  </p>
  <p>
    <mat-form-field class="card-input">
      <input matInput placeholder="Default Loan Term" name="loanTerm" 
            [ngModel]="data.defaults.loanTerm" (blur)="data.defaults.loanTerm=$event.target.value;">
    </mat-form-field>mo.
    <span class="assumption-default" style="margin-left:24px;">{{360}} months</span>
  </p>
  <p>
    <mat-form-field class="card-input">
      <input matInput placeholder="Default Down Payment" name="downPayment" 
            [ngModel]="data.defaults.downPayment*100 | number:'1.0-0'" (blur)="data.defaults.downPayment=$event.target.value/100;">
    </mat-form-field>%
    <span class="assumption-default">&nbsp;{{0.20 | percent}}</span>
  </p>
  <p>
    <mat-form-field class="card-input">
      <input matInput placeholder="Default Property Rate" name="propertyTaxRate" 
            [ngModel]="data.defaults.propertyTaxRate*100 | number:'1.3-4'" (blur)="data.defaults.propertyTaxRate=$event.target.value/100;">
    </mat-form-field>%
    <span class="assumption-default">&nbsp;{{.01095 | percent:'1.3-4'}}</span>
  </p>
  <p>
    <mat-form-field class="card-input">
      <input matInput placeholder="Default Insurance Rate" name="insuranceRate" 
            [ngModel]="data.defaults.insuranceRate*100 | number:'1.2-3'" (blur)="data.defaults.insuranceRate=$event.target.value/100;">
    </mat-form-field>%
    <span class="assumption-default">&nbsp;{{.0020 | percent:'1.2-3'}}</span>
  </p>
  <p>
    <mat-form-field class="card-input">
      <input matInput placeholder="Default Maintenance Rate" name="salaryTaxRate" 
            [ngModel]="data.defaults.maintenanceRate*100 | number:'1.2-3'" (blur)="data.defaults.maintenanceRate=$event.target.value/100;">
    </mat-form-field>%
    <span class="assumption-default">&nbsp;{{.0018 | percent:'1.2-3'}}</span>
  </p>
  <p>
    <mat-form-field class="card-input">
      <input matInput placeholder="Vacancy Rate" name="vacancyRate" 
            [ngModel]="data.defaults.vacancyRate*100 | number:'1.2-3'" (blur)="inputBlur($event);" matTooltip="vacancy from turnover (annualized)">
    </mat-form-field>%
  </p>
</div>
<div mat-dialog-actions>
  <button mat-button (click)="onCancel()" color="accent">Cancel</button>
  <button mat-button [mat-dialog-close]="data.defaults" cdkFocusInitial color="primary">Save</button>
</div>