.card-input {
  width: 125px !important;
  margin-left: 15px;
}
.assumption-default { 
  color: grey; 
  margin-left: 30px;
}
p{
  margin-block-start: .75em;
  margin-block-end: .75em;
}
.highlight{
  background-color: #ff4081;
}