
<mat-toolbar color="primary">
      <button mat-button class="menu" matTooltip="Global Defaults" (click)="defaultsDialog();">
            <img src="assets/menu.svg" alt="menu icon">
      </button>
      <a mat-button class="title" routerLink="/home" routerLinkActive="active" matTooltip="Rental Performance Guesstimator">{{ title }}</a>
      <img class="icon" src="assets/myCheck_light.png" alt="rent-check-icon">
      <span class="filler"></span>
      <button mat-icon-button [matMenuTriggerFor]="menu" class="menu">
            <img src="assets/more_vert.svg" alt="menu icon">
      </button>
      <mat-menu #menu="matMenu">
            <button mat-menu-item (click)="clearLocalStorage();">Clear Data</button>
            <button mat-menu-item routerLink="/about" routerLinkActive="active">About</button>
            <button mat-menu-item routerLink="/contactus" routerLinkActive="active">Contact Us</button>
      </mat-menu>
      <span class="version">v.{{appVersion}}</span>
</mat-toolbar>

<!--Google Ads will go here-->
<router-outlet></router-outlet>

<footer class="footer">
      <a mat-button routerLink="/home" routerLinkActive="active"><img src="assets/myCheck_dark.png" alt="rent check home" width="24px;">&nbsp;Home</a>
	<a mat-button routerLink="/about" routerLinkActive="active">About</a>
      <a mat-button routerLink="/contactus" routerLinkActive="active">Contact Us</a>
      <h4>Copyright © {{year}} James Shull. All rights reserved.</h4>
</footer>
