.menu{
    padding-left: 6px;
    padding-right: 6px;
    min-width: 60px;
}
.menu img{
    filter: contrast(4) invert(1);
}
.title {
    padding-left: 6px;
    padding-right: 6px;
    min-width: 100px;
}
.icon {
    height: 30px;
    padding-bottom: 6px;
}
.version {
    font-size: 12px;
    margin-left: 10px;
    margin-top: 10px;
}
.footer {
    width : 100%;
    text-align: center;
    background-color: rgb(250,250,250);
    color: rgb(100, 100, 100);
}
.footer h4 { margin-top: 10px;}