.menu{
    padding: 0 14px;
    min-width: 60px;
}
.menu img{
    filter: contrast(4) invert(1);
    height: 24px;
}
.title {
    min-width: 100px;
}
.icon {
    height: 30px;
    padding: 0px 6px 6px 6px;
}
.filler {
    flex: 1 1 auto;
}
.help{
    display: flex;
    flex-direction: row;
    width: 100%;
    background-color: rgba(63, 81, 181,.5);
}
.help button{
    color: rgb(220, 220, 220);
    font-size: 24px;
    border-right: 1px solid rgb(190, 190, 190);
}
.help p{
    margin: auto 16px;
    align-items: flex-start;
    vertical-align: middle;
}
.version {
    font-size: 12px;
    margin-left: 10px;
}
.footer {
    width : 100%;
    text-align: center;
    background-color: rgb(250,250,250);
    color: rgb(100, 100, 100);
}
.footer h4 { margin-top: 10px; margin-bottom: 6px;}
.footer a {
    padding: 0px 10px;
    min-width: 66px !important;
}