
<mat-toolbar class="title-bar" color="primary">
      <button mat-button matTooltip="Edit Assumption Defaults" (click)="defaultsDialog();">
            <img style="filter: contrast(4) invert(1);" src="assets/menu.svg" alt="menu icon">
      </button>
      <span class="title" matTooltip="Rental Performance Guesstimator">{{ title }}</span>
      <img src="assets/myCheck_light.png" alt="rent-check-icon" height="32px;">
      <!--<span class="filler"></span>-->
</mat-toolbar>
<!--Advertisment-->
<p class="warning">This website is still in beta, please excuse the mess.</p>
<app-rental *ngFor="let rental of rentals" [savedRentalID]="rental" (drop)="onDrop($event)"></app-rental>
<button mat-fab color="primary" class="add-button" (click)="addRental();">
      <img src="assets/plus.png" alt="add rental">
</button>
<footer class="footer"><p>USA Copyright © {{year}} James Shull. All rights reserved.</p></footer>
