/*background-color: #3f51b5; primary - blue/purple*/
/*background-color: #ff4081; accent - pink*/
/*background-color: #28a745; green */
/*background-color: #20c997; teal*/
/*background-color: #17a2b8; cyan*/
.fixed{
    position: fixed;
    top: 0;
    z-index: 2;
}
.top-buffer{
    margin-top: 64px;
}
@media (max-width: 599px){
    .top-buffer{ 
        margin-top: 56px;
    }
} 
.menu{
    padding: 0 14px;
    min-width: 60px;
}
.menu svg {
    background-color: transparent;
    filter: contrast(4) invert(1);
    width: 24px;
    height: 24px;
}
button.mat-menu-item.little-menu {
    font-size: .75em;
    height: 2em; line-height: 2em; 
}
.title {
    min-width: 100px;
}
.title svg {
    background-color: transparent;
    filter: contrast(4) invert(1);
    height: 30px;
    width: 30px;
    padding: 0 4px;
}
.icon {
    background-color: transparent;
    width: 30px;
    height: 30px;
}
.filler {
    flex: 1 1 auto;
}
/* .help{
    display: flex;
    flex-direction: row;
    width: 100%;
    background-color: rgba(63, 81, 181,.5);
    vertical-align: middle;
}*/
.help button{
    color: rgb(220, 220, 220);
    font-size: 24px;
    border-right: 1px solid rgb(190, 190, 190);
}
.help p{
    margin: auto 16px;
    align-items: flex-start;
}
.version {
    font-size: 12px;
    margin-left: 10px;
}
.footer {
    width : 100%;
    text-align: center;
    background-color: rgb(250,250,250);
    color: rgb(100, 100, 100);
}
.footer h4 { margin-top: 10px; margin-bottom: 6px;}
.footer a {
    padding: 0px 10px;
    min-width: 66px !important;
}
.footer-check{
    background-color: transparent;
    height: 30px;
    width: 30px;
    padding: 0 4px;
}