.centered {text-align: center;}
.rental-card {
    margin: 10px;
    padding: 10px !important;
    /*min-width: 375px;*/
    max-width: 500px;
    display: inline-block;
    vertical-align: top;
}
.card-input {
    width: 125px !important;
    margin-left: 15px;
}
.date {
    padding-right: 28px;
    margin-left: 0px;
}
.card-actions {
    width: 100%;
    text-align: center;
}
.card-actions button {  margin: 5px 10px;}
.short-input {  width: 75px !important;}
.mid-input { width: 125px !important;}
.edit-toggle {  margin-left: 10px;}
.outflow {
    display: inline-block;
    margin: auto;
    width: 32%;
    text-align: center;
    background-color: #ff4081;
    border-right: 1px solid black;
}
.outflow>p { margin: 0px;}
.outflow>h4 { margin-top: 5px; margin-bottom: 5px;}
.income {
    display: inline-block;
    margin: auto;
    width: 32%;
    text-align: center;
    /*background-color: #ff4081; accent - pink*/
    /*background-color: #28a745; green */
    /*background-color: #20c997; teal*/
    /*background-color: #17a2b8; cyan*/
    background-color: #ff4081;
    border-right: 1px solid black;
}
.income>p { margin: 0px;}
.income>h4 { margin-top: 5px; margin-bottom: 5px;}
.yield {
    display: inline-block;
    margin: auto;
    width: 32%;
    text-align: center;
    background-color: #ff4081;
}
.yield>p {  margin: 0px;}
.yield>h4 { margin-top: 5px; margin-bottom: 5px;}
.positive {  background-color: #28a745;}
.detail-text {    color: grey;}
.details ul li h5 { margin-top: 5px; margin-bottom: 5px;}
.details ul, h3 { margin-top: 6px; margin-bottom: 6px;}
.half { display: inline-block; margin: 5px 15px; width:calc(50% - 30px);}
.divider {  width: 100%;    border-top: 1px solid rgba(20, 20, 20, 0.85);}
.tab {  display: inline-block;  width: 20px;}
.line-break {   height:10px;}
.ammortization-table {  width: 100%;}
ul {    list-style: none;}