<mat-card class="rental-card">
  <mat-card-header>
    <mat-card-title>
        <mat-form-field *ngIf="editAddress">
          <input matInput placeholder="Street" name="street" [(ngModel)]="streetAddress">
        </mat-form-field>
        <span *ngIf="!editAddress"><h2 style="display:inline-block;">{{streetAddress}}</h2></span>
        <mat-slide-toggle class="edit-toggle" [(ngModel)]="editAddress">Edit Address</mat-slide-toggle>
    </mat-card-title>
    <mat-card-subtitle *ngIf="editAddress">
        <mat-form-field>
          <input matInput placeholder="City" name="city" [(ngModel)]="cityAddress">
        </mat-form-field>,&nbsp;
        <mat-form-field class="short-input">
          <mat-select [(value)]="stateAddress" placeholder="State">
              <mat-option *ngFor="let state of stateList" [value]="state">
                {{state}}
              </mat-option>
          </mat-select>
        </mat-form-field>,&nbsp;
        <mat-form-field class="short-input">
          <input matInput placeholder="Zip Code" name="zip" [(ngModel)]="zipAddress">
        </mat-form-field>
    </mat-card-subtitle>
    <mat-card-subtitle *ngIf="!editAddress">
        <span><h3>{{cityAddress}},&nbsp;{{stateAddress}},&nbsp;{{zipAddress}}</h3></span>
    </mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    <span class="outflow" [class.positive]="rent>monthlyOutflow"><p>outflow</p><h4>{{monthlyOutflow | currency}} / mo.</h4></span>
    <span class="income" [class.positive]="monthlyIncome>0"><p>income</p><h4>{{monthlyIncome | currency}} / mo.</h4></span>
    <span class="yield" [class.positive]="yield>0"><p>yield</p><h4>{{yield | percent:'1.2-2'}}</h4></span>
    <mat-tab-group>
        <mat-tab label="Market">
              <p>
                <mat-form-field class="card-input">
                  <span matPrefix>$ &nbsp;</span>
                  <input matInput placeholder="Price" name="price" [(ngModel)]="price" (blur)="updatePerformance();">
                </mat-form-field>
                <mat-form-field class="card-input">
                  <span matPrefix>$ &nbsp;</span>
                  <input matInput placeholder="Rent Estimate" name="rent" [(ngModel)]="rent" (blur)="updatePerformance();">
                </mat-form-field>
              </p>
              <p>
                <mat-form-field class="card-input">
                  <span matPrefix>$ &nbsp;</span>
                  <input matInput placeholder="HOA" name="hoa" [(ngModel)]="hoa" (blur)="updatePerformance();">
                </mat-form-field>
                <mat-form-field class="card-input">
                  <span matPrefix>$ &nbsp;</span>
                  <input matInput placeholder="Mello-Roos" name="melloRoos" [(ngModel)]="melloRoos" (blur)="updatePerformance();">
                </mat-form-field>
              </p>
        </mat-tab>
        <mat-tab label="Assumptions"> 
            <!-- Add purchase date -->
            <p>
              <mat-form-field class="card-input">
                <input matInput placeholder="Income Tax Rate" name="salaryTaxRate" 
                      [ngModel]="defaultsOverride.salaryTaxRate*100 | number:'1.0-0'" (blur)="inputBlur($event);">
              </mat-form-field>%
            </p>
            <p>
              <mat-form-field class="card-input">
                <input matInput placeholder="Interest Rate" name="interestRate" 
                      [ngModel]="defaultsOverride.interestRate*100 | number:'1.1-4'" (blur)="inputBlur($event);">
              </mat-form-field>%
            </p>
            <p>
              <mat-form-field class="card-input">
                <input matInput placeholder="Loan Term" name="loanTerm" 
                      [ngModel]="defaultsOverride.loanTerm" (blur)="inputBlur($event);">
              </mat-form-field>mo.
            </p>
            <p>
              <mat-form-field class="card-input">
                <input matInput placeholder="Down Payment" name="downPayment" 
                      [ngModel]="defaultsOverride.downPayment*100 | number:'1.0-0'" (blur)="inputBlur($event);">
              </mat-form-field>%
            </p>
            <p>
              <mat-form-field class="card-input">
                <input matInput placeholder="Property Rate" name="propertyTaxRate" 
                      [ngModel]="defaultsOverride.propertyTaxRate*100 | number:'1.3-4'" (blur)="inputBlur($event);">
              </mat-form-field>%
            </p>
            <p>
              <mat-form-field class="card-input">
                <input matInput placeholder="Insurance Rate" name="insuranceRate" 
                      [ngModel]="defaultsOverride.insuranceRate*100 | number:'1.2-3'" (blur)="inputBlur($event);">
              </mat-form-field>%
            </p>
            <p>
              <mat-form-field class="card-input">
                <input matInput placeholder="Maintenance Rate" name="salaryTaxRate" 
                      [ngModel]="defaultsOverride.maintenanceRate*100 | number:'1.2-3'" (blur)="inputBlur($event);">
              </mat-form-field>%
            </p>
        </mat-tab>
        <mat-tab label="Details">
            <h3>Down Payment: <span class="detail-text">{{ ((defaultsOverride.downPayment*price)/1000) | currency:'USD':'symbol':'1.1-1' }}K</span></h3>
            <div class="divider"></div>
            <h3>Cash Outflow (monthly): <span class="detail-text">{{monthlyOutflow | currency}}</span></h3>
            <ul>
              <li><h5>Mortgage Payment: <span class="detail-text">{{monthlyPayment | currency}}</span></h5></li>
              <li><h5>Property Tax: <span class="detail-text">{{monthlyPropertyTax | currency}}</span></h5></li>
              <li><h5>HOA: <span class="detail-text">{{hoa | currency}}</span></h5></li>
              <li><h5>Mello-Roos: <span class="detail-text">{{melloRoos | currency}}</span></h5></li>
              <li><h5>Maintenance: <span class="detail-text">{{monthlyMaintenance | currency}}</span></h5></li>
              <li><h5>Insurance: <span class="detail-text">{{monthlyInsurance | currency}}</span></h5></li>
            </ul>
            <div class="divider"></div>
            <h3>Tax Savings (monthly): <span class="detail-text">{{monthlyTaxSavings | currency}}</span></h3>
            <ul>
              <li><h5>Interest Write Off: <span class="detail-text">{{defaultsOverride.salaryTaxRate*monthlyPropertyTax | currency}}</span></h5></li>
              <li><h5>Property Write Off: <span class="detail-text">{{defaultsOverride.salaryTaxRate*monthlyInterest | currency}}</span></h5></li>
            </ul>
            <div class="divider"></div>
            <h3>Expenses (monthly): <span class="detail-text">{{monthlyExpense | currency}}</span></h3>
            <div class="divider"></div>
            <h3>Mortgage Payment: {{monthlyPayment | currency}}</h3>
              <ul>
                <li><h5>Interest (1st Term): <span class="detail-text">{{monthlyInterest | currency}}</span></h5></li>
                <li><h5>Principal (1st Term): <span class="detail-text">{{monthlyPrincipal | currency}}</span></h5></li>
                <li><h5>Loan Term: now() - mortgage start month</h5></li>
              </ul>
            <button mat-raised-button color="accent"  (click)="generateAmmortizationSchedule()">Show Ammortization Schedule</button>
            <div class="line-break"></div><div class="divider"></div>
            <table *ngIf="showAmmortization" mat-table [dataSource]="ammortizationSchedule" class="mat-elevation-z8 ammortization-table">
                <ng-container matColumnDef="term">
                  <th mat-header-cell *matHeaderCellDef> Term </th>
                  <td mat-cell *matCellDef="let element"> {{element.term}} </td>
                </ng-container>
                <ng-container matColumnDef="interest">
                  <th mat-header-cell *matHeaderCellDef> Interest </th>
                  <td mat-cell *matCellDef="let element"> {{element.interest | currency}} </td>
                </ng-container>
                <ng-container matColumnDef="principal">
                  <th mat-header-cell *matHeaderCellDef> Principal </th>
                  <td mat-cell *matCellDef="let element"> {{element.principal | currency}} </td>
                </ng-container>
                <tr mat-header-row *matHeaderRowDef="ammortizationColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: ammortizationColumns;"></tr>
            </table>
        </mat-tab>
      </mat-tab-group>
  </mat-card-content>
</mat-card>