.rental-card {
    margin: 30px;
    min-width: 350px;
    max-width: 500px;
}
.card-input {
    width: 100px !important;
    margin: 0px 15px;
}
.income {
    display: inline-block;
    margin: auto;
    width: 50%;
    text-align: center;
    /*background-color: #ff4081; accent - pink*/
    /*background-color: #28a745; green */
    /*background-color: #20c997; teal*/
    /*background-color: #17a2b8; cyan*/
    background-color: #28a745;
}
.yield {
    display: inline-block;
    margin: auto;
    width: 50%;
    text-align: center;
    background-color: #28a745;
}
.assumption-default { color: grey; }