.rental-card {
    margin: 10px;
    padding: 10px !important;
    max-width: 500px;
    display: inline-block;
    vertical-align: top;
}
.centered {
    text-align: center;
}
.centered p {
    display: inline-block;
    width: 100%;
}
.card-input {
    width: 45%;
    margin: 0 2.5%;
}
.card-actions {
    width: 100%;
    text-align: center;
}
.card-actions button {  margin: 5px; min-width: 60px;}
.card-actions button svg {
    background-color: transparent;
    width: 24px;
    height: 24px;
}
.white {
    filter: contrast(4) invert(1);
}
.short-input {  width: 75px !important;}
.mid-input { width: 125px !important;}
.edit-toggle {  margin-left: 10px;}
.result-box {
    display: inline-block;
    margin: auto;
    width: 24%;
    text-align: center;
    background-color: #ff4081;
    border-left: 1px solid black;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
}
.result-box p { margin: 0px;}
.result-box h4 { margin-top: 5px; margin-bottom: 5px;}
.right-border {
    border-right: 1px solid black;
}
/*
.outflow {
    display: inline-block;
    margin: auto;
    width: 32%;
    text-align: center;
    background-color: #ff4081;
    border-right: 1px solid black;
}
.outflow>p { margin: 0px;}
.outflow>h4 { margin-top: 5px; margin-bottom: 5px;}
.income {
    display: inline-block;
    margin: auto;
    width: 32%;
    text-align: center;
    
    background-color: #ff4081;
    border-right: 1px solid black;
}
.income>p { margin: 0px;}
.income>h4 { margin-top: 5px; margin-bottom: 5px;}
.yield {
    display: inline-block;
    margin: auto;
    width: 32%;
    text-align: center;
    background-color: #ff4081;
}
.yield>p {  margin: 0px;}
.yield>h4 { margin-top: 5px; margin-bottom: 5px;}
*/
.line{
    border-bottom: 2px solid rgba(63, 81, 181,.5);
}
.positive {  background-color: #28a745;}
.detail-text {    color: grey;}
.details ul li h5 { margin-top: 5px; margin-bottom: 5px;}
.details ul, h3 { margin-top: 6px; margin-bottom: 6px;}
.half { display: inline-block; margin: 5px 15px; width:calc(50% - 30px);}
.divider {  width: 100%;    border-top: 1px solid rgba(20, 20, 20, 0.85);}
.tab {  display: inline-block;  width: 20px;}
.line-break {   height:10px;}
.ammortization-table {  width: 100%;}
ul {    list-style: none;}