<mat-card class="rental-card">
  <mat-card-header>
    <mat-card-title>
      {{streetAddress}} 
    </mat-card-title>
    <mat-card-subtitle>
        {{cityAddress}}, {{stateAddress}}, {{zipAddress}}
    </mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    <span class="income" [class.positive]="monthlyIncome>0"><h4>{{monthlyIncome | currency}} /mo.</h4></span>
    <span class="yield" [class.positive]="yield>0"><h4>{{yield | percent:'1.2-2'}}</h4></span>
    
    
    <mat-tab-group>
        <mat-tab label="Market">
              <p>
                <mat-form-field class="card-input">
                  <span matPrefix>$ &nbsp;</span>
                  <input matInput placeholder="Price" name="price" [(ngModel)]="price" (blur)="updatePerformance()">
                </mat-form-field>
                <mat-form-field class="card-input">
                  <span matPrefix>$ &nbsp;</span>
                  <input matInput placeholder="Rent Estimate" name="rent" [(ngModel)]="rent" (blur)="updatePerformance()">
                </mat-form-field>
              </p>
              <p>
                <mat-form-field class="card-input">
                  <span matPrefix>$ &nbsp;</span>
                  <input matInput placeholder="HOA" name="hoa" [(ngModel)]="hoa" (blur)="updatePerformance()">
                </mat-form-field>
                <mat-form-field class="card-input">
                  <span matPrefix>$ &nbsp;</span>
                  <input matInput placeholder="Mello-Roos" name="melloRoos" [(ngModel)]="melloRoos" (blur)="updatePerformance()">
                </mat-form-field>
              </p>
        </mat-tab>


        <mat-tab label="Details"> 
            <p>Mortgage Payment: {{monthlyPayment | currency}} /mo.</p>
            <p>&nbsp;Principal&nbsp;: {{monthlyPrincipal | currency }}&nbsp;&nbsp;Interest&nbsp;: {{monthlyInterest | currency }}</p>
        </mat-tab>


        <mat-tab label="Assumptions"> 
            <p>
              <mat-form-field class="card-input">
                <input matInput placeholder="Income Tax Rate" name="salaryTaxRate" 
                      [ngModel]="salaryTaxRateOverride*100 | number:'1.0-0'" (blur)="salaryTaxRateOverride=$event.target.value/100;updatePerformance();">
              </mat-form-field>%
              <span class="assumption-default">&nbsp;(default: {{salaryTaxRateDefault | percent}})</span>
            </p>
            <p>
              <mat-form-field class="card-input">
                <input matInput placeholder="Interest Rate" name="interestRate" 
                      [ngModel]="interestRateOverride*100 | number:'1.1-4'" (blur)="interestRateOverride=$event.target.value/100;updatePerformance();">
              </mat-form-field>%
              <span class="assumption-default">&nbsp;(default: {{interestRateDefault | percent:'1.1-4'}})</span>
            </p>
            <p>
              <mat-form-field class="card-input">
                <input matInput placeholder="Loan Term" name="loanTerm" 
                      [ngModel]="loanTermOverride" (blur)="loanTermOverride=$event.target.value;updatePerformance();">
              </mat-form-field>mo.
              <span class="assumption-default" style="margin-left:24px;">(default: {{loanTermDefault}} months)</span>
            </p>
            <p>
              <mat-form-field class="card-input">
                <input matInput placeholder="Down Payment" name="downPayment" 
                      [ngModel]="downPaymentOverride*100 | number:'1.0-0'" (blur)="downPaymentOverride=$event.target.value/100;updatePerformance();">
              </mat-form-field>%
              <span class="assumption-default">&nbsp;(default: {{downPaymentDefault | percent}})</span>
            </p>
            <p>
              <mat-form-field class="card-input">
                <input matInput placeholder="Property Rate" name="propertyTaxRate" 
                      [ngModel]="propertyTaxRateOverride*100 | number:'1.3-4'" (blur)="propertyTaxRateOverride=$event.target.value/100;updatePerformance();">
              </mat-form-field>%
              <span class="assumption-default">&nbsp;(default: {{propertyTaxRateDefault | percent:'1.3-4'}})</span>
            </p>
            <p>
              <mat-form-field class="card-input">
                <input matInput placeholder="Insurance Rate" name="insuranceRate" 
                      [ngModel]="insuranceRateOverride*100 | number:'1.2-3'" (blur)="insuranceRateOverride=$event.target.value/100;updatePerformance();">
              </mat-form-field>%
              <span class="assumption-default">&nbsp;(default: {{insuranceRateDefault | percent:'1.2-3'}})</span>
            </p>
            <p>
              <mat-form-field class="card-input">
                <input matInput placeholder="Maintenance Rate" name="salaryTaxRate" 
                      [ngModel]="maintenanceRateOverride*100| number:'1.2-3'" (blur)="maintenanceRateOverride=$event.target.value/100;updatePerformance();">
              </mat-form-field>%
              <span class="assumption-default">&nbsp;(default: {{maintenanceRateDefault | percent:'1.2-3'}})</span>
            </p>
            <button mat-raised-button color="primary" (click)="editGlobal()">Edit Default Assumptions</button>
            <div *ngIf="showGlobal">
                <p>
                    <mat-form-field class="card-input">
                      <input matInput placeholder="Default Income Tax Rate" name="salaryTaxRate" 
                            [ngModel]="salaryTaxRateDefault*100 | number:'1.0-0'" (blur)="salaryTaxRateDefault=$event.target.value/100;updatePerformance();">
                    </mat-form-field>%
                    <span class="assumption-default">&nbsp;{{salaryTaxRateOriginal | percent}}</span>
                  </p>
                  <p>
                    <mat-form-field class="card-input">
                      <input matInput placeholder="Default Interest Rate" name="interestRate" 
                            [ngModel]="interestRateDefault*100 | number:'1.1-4'" (blur)="interestRateDefault=$event.target.value/100;updatePerformance();">
                    </mat-form-field>%
                    <span class="assumption-default">&nbsp;{{interestRateOriginal | percent:'1.1-4'}}</span>
                  </p>
                  <p>
                    <mat-form-field class="card-input">
                      <input matInput placeholder="Default Loan Term" name="loanTerm" 
                            [ngModel]="loanTermDefault" (blur)="loanTermDefault=$event.target.value;updatePerformance();">
                    </mat-form-field>mo.
                    <span class="assumption-default" style="margin-left:24px;">{{loanTermOriginal}} months</span>
                  </p>
                  <p>
                    <mat-form-field class="card-input">
                      <input matInput placeholder="Default Down Payment" name="downPayment" 
                            [ngModel]="downPaymentDefault*100 | number:'1.0-0'" (blur)="downPaymentDefault=$event.target.value/100;updatePerformance();">
                    </mat-form-field>%
                    <span class="assumption-default">&nbsp;{{downPaymentOriginal | percent}}</span>
                  </p>
                  <p>
                    <mat-form-field class="card-input">
                      <input matInput placeholder="Default Property Rate" name="propertyTaxRate" 
                            [ngModel]="propertyTaxRateDefault*100 | number:'1.3-4'" (blur)="propertyTaxRateDefault=$event.target.value/100;updatePerformance();">
                    </mat-form-field>%
                    <span class="assumption-default">&nbsp;{{propertyTaxRateOriginal | percent:'1.3-4'}}</span>
                  </p>
                  <p>
                    <mat-form-field class="card-input">
                      <input matInput placeholder="Default Insurance Rate" name="insuranceRate" 
                            [ngModel]="insuranceRateDefault*100 | number:'1.2-3'" (blur)="insuranceRateDefault=$event.target.value/100;updatePerformance();">
                    </mat-form-field>%
                    <span class="assumption-default">&nbsp;{{insuranceRateOriginal | percent:'1.2-3'}}</span>
                  </p>
                  <p>
                    <mat-form-field class="card-input">
                      <input matInput placeholder="Default Maintenance Rate" name="salaryTaxRate" 
                            [ngModel]="maintenanceRateDefault*100 | number:'1.2-3'" (blur)="maintenanceRateDefault=$event.target.value/100;updatePerformance();">
                    </mat-form-field>%
                    <span class="assumption-default">&nbsp;{{maintenanceRateOriginal | percent:'1.2-3'}}</span>
                  </p>
                  <button mat-raised-button color="accent"  (click)="updateGlobal()">Submit Default Assumptions</button>
            </div>
        </mat-tab>
      </mat-tab-group>
  </mat-card-content>
</mat-card>