.menu{
  min-width: 48px !important;
  width: 48px;
  padding-left: 5px;
  padding-right: 5px;
  display: inline-block;
}
.menu img{
  filter: contrast(4) invert(1);
  height: 36px;
  vertical-align: middle;
}
.help-container{
  display: inline-block;
  vertical-align: middle;
}
.help-container p {
  display: inline-block;
  margin: auto 5px;
}
.help-container a>svg {
  display: inline-block;
  vertical-align: middle;
}
.help-container a{
  display: inline-block;
  color: white;
  text-decoration: none;
}
.help-container a:hover{
  text-decoration: underline;
}
.icon{
  background-color: transparent;
  width: 32px;
  height: 32px;
}
.white {
  filter: contrast(4) invert(1);
}