<div class="help-container">
    <a routerLink="/guide" routerLinkActive="active"><svg role="img" class="icon" title="ninja icon"><use xlink:href="assets/sprites.svg#ninja"></use></svg></a>
    <p>
      <a routerLink="/guide" routerLinkActive="active">Click here to begin your training</a>.
    </p>
    <button mat-button class="menu" (click)="closeHelp()">
        <svg role="img" class="icon white" title="remove icon"><use xlink:href="assets/sprites.svg#cancel"></use></svg>
    </button>
</div>
